:root {
  --main-color: #21251f;
  --green-color: #c8f560;
  --grey-color: #4e515c;
  --purple-color: #7862f8;
}

body {
  background-color: var(--main-color);
  color: var(--green-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
  border: 6px double var(--purple-color);
}

.counter {
  font-size: 10em;
}

.buttons {
  display: flex;
  gap: 1em;
}

button {
  background-color: transparent;
  padding: 16px 25px;

  border-radius: 4px;
  font-size: 1.25rem;
  color: var(--green-color);
}
